---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Bienvenidos a ElSaltoWeb">

	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
				<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		
	<h1>Bienvenidos a <span class="text-gradient">ElSaltoWeb.es</span></h1>
<p class="instructions">
   Conecta WordPress con cualquier frontend y crea experiencias personalizadas e innovadoras para tus usuarios. Puedes utilizar cualquier tecnología o framework frontend, como React, Vue.js, o en este caso, Astro, para presentar el contenido. Esto permite a los desarrolladores crear experiencias personalizadas y optimizadas para los usuarios.
</p>
<ul role="list" class="link-card-grid">
    <Card
        href="https://docs.astro.build/"
        title="Documentación de Astro"
        body="Descubre cómo funciona Astro y explora la documentación oficial de la API para empezar con tu proyecto."
    />
    <Card
        href="https://developer.wordpress.org/rest-api/"
        title="API REST de WordPress"
        body="Aprende a usar la API REST de WordPress para obtener contenido y usarlo en tu sitio web con Astro."
    />
    <Card
        href="https://www.elsaltoweb.es/blog/integrando-wordpress-astro"
        title="Guía de Integración"
        body="Sigue nuestra guía paso a paso para integrar WordPress con Astro y mostrar tus entradas de forma dinámica."
    />
    <Card
        href="https://astro.build/integrations/"
        title="Integraciones con Astro"
        body="Potencia tu proyecto con Astro utilizando diversas integraciones y librerías para mejorar la funcionalidad."
    />
    <Card
        href="https://astro.build/chat/"
        title="Comunidad de Astro"
        body="Únete a nuestra comunidad en Discord para obtener ayuda y compartir tus proyectos con otros desarrolladores."
    />
</ul>
</main>

</Layout>

<style>
:root {
    --accent-gradient: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #91eac9);
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.astro-a {
    animation: svgAnimation 15s ease infinite;
}

@keyframes svgAnimation {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -20px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

main {
    margin: auto;
     padding: 1rem;
    margin-top: 60px;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

h1 {

    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 10%;

}
/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        font-size: 18px;
         padding: 1rem;
    }
}

@media (max-width: 480px) {
    main {
        font-size: 16px;
        padding: 0.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .instructions {
        font-size: 0.9em;
    }
    .instructions code {
        font-size: 0.75em;
    }
}

.astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
}


.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}

.instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}

.instructions strong {
    color: rgb(var(--accent-light));
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
}

/* Further adjustments for smaller screens */
@media (max-width: 768px) {
    .link-card-grid {
        gap: 1.5rem;
    }
}

@media (max-width: 480px) {
    .link-card-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
</style>


<script>
    import { gsap } from "gsap";

    document.addEventListener("DOMContentLoaded", () => {
        gsap.from("h1", { duration: 1.5, y: -50, opacity: 0, ease: "bounce" });
        gsap.from(".instructions", { duration: 1, x: -100, opacity: 0, delay: 0.5 });
        gsap.from(".link-card-grid > *", {
            duration: 1,
            y: 50,
            opacity: 0,
            stagger: 0.2,
            delay: 1,
            ease: "power3.out"
        });
    });
</script>
