---
--- 
<style>
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    z-index: 1000; /* Asegura que la navbar esté por encima */
    position: relative; /* Añadir position para que z-index funcione */
}


  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar-links {
    display: flex;
    gap: 1rem;
  }

  .navbar-links a {
    color: white;
    text-decoration: none;
  }

  .navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem;
    }

    .navbar-links.open {
      display: flex;
    }

    .navbar-toggle {
      display: block;
    }
  }
</style>

<nav class="navbar">
  <div class="navbar-logo">ElSaltoWeb.es</div>
  <div class="navbar-toggle">☰</div>
  <div class="navbar-links" id="navbar-links">
    <a href="/">Inicio</a>
    <a href="/proyectos">Proyectos</a>
    <a href="/recursos">Recursos</a>

  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const navbarToggle = document.querySelector('.navbar-toggle');
    const navbarLinks = document.getElementById('navbar-links');

    navbarToggle.addEventListener('click', () => {
      navbarLinks.classList.toggle('open');
    });
  });
</script>
